eureka:
  client:
    service-url:
      defaultZone: http://locahost:8761/eureka/

  # 这只为prefer ip的话可以直接展示ip地址
  instance:
    prefer-ip-address: true

server:
  port: 8765
spring:
  application:
    name: service-feign

feign:
  hystrix:
    enabled: true
management:
  endpoints:
    web:
      exposure:
        include: hystrix.stream,info,health
