eureka:
  client:
    serviceUrl:
      defaultZone: http://192.168.1.115:8761/eureka/
  # 这只为prefer ip的话可以直接展示ip地址
  instance:
    prefer-ip-address: true
server:
  port: 8766
spring:
  application:
    name: service-zuul
zuul:
  routes:
    ribbon:
      path: /ribbon/**
      serviceId: service-ribbon
    feign:
      path: /feign/**
      serviceId: service-feign